/* Navbar */
.navbar{
    background-color: #01b4dd;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;   
}

.navbar_cntainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar_logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
}
#navbar_logo img{
    height: 50px;
    width: auto;
    display: block;
}
.fa-gem {
    margin-right: 0.5rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
   
}
.navbar_item{
   display: flex;
   align-items: center;
}
.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
}
.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.navbar_links:hover{
    color: #f0c040;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar_cntainer{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        padding: 0 30px;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.6s ease;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
        z-index: -1;
        background: #01b4dd;

    }

    .navbar_menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 99;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
        font-size: 1.4rem;
 
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle .bar{
        width: 35px;
        height: 5px;
        margin: 6px;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar_item{
        width: 100%;
    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        white-space: nowrap;  
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_btn{
        padding-bottom: 2rem;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(11px) rotate(45deg) ;
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
    }

}